<div class="main-footer-panel">
	<div class="footer-gradient">
		<div class="footer-info-panel"> <!-- tmbd section -->
			<a target="_blank" href="https://www.themoviedb.org/?language=es">
				<div class="tmdb-logo"></div>
			</a>
		</div>
		<div  class="footer-info-panel"> <!-- links section -->
			  
		</div>
		<div class="footer-info-panel">  <!-- Movie center info section -->
			<div>
				<div>
					<p align="center" class="footer-white-title" >TMDB++</p>
					<p align="center" class="footer-subtitle" >More than just movies</p>
					<p align="center" class="footer-subtitle"  >2017</p>
				</div>
				<br>
				<br>
				<div class="social-media">
					<a  target="_blank" href="https://github.com/fabian0007">
					<div class="footer-ico github"></div>
					</a>
					<a  target="_blank" href="https://es-la.facebook.com/AlertLogic/">
					<div class="footer-ico facebook"></div>
					</a>
					<a  target="_blank" href="https://www.youtube.com/user/AlertLogicTV">
					<div class="footer-ico youtube"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-info-panel"> <!-- Personal information section -->
			<div >

				<p ><b>Fabian Andres Cano Taramuel</b></p>
				<p class="footer-subtitle">Systems Engineer</p>
				<p class="footer-subtitle">+57 316 701 8001</p>

				<br>

				<p>Email:</p>
				<p class="footer-subtitle">fabian.cano@correounivalle.edu.co</p>
			</div>
		</div>
	</div>
	<div class="footer-bottom-bar"> <!-- Copiright section -->
		<p class="footer-subtitle copyright"> 
			© Fabian Andres Cano
		</p>
	</div>
</div>