<app-toolbar></app-toolbar>

<div class="main-panel" class="col-md-12">	
	<div class="profile-background" [ngStyle]="{'background-image': 'url(' + baseUrl + details.profile_path + ')'}"></div>
	<div class=" gradient">
	<!-- ================ INFO PANEL ================ -->
    	<div  class="person-info-container">
    		<div class="center-aling">
    		<!--============================ PANEL LEFT========================= -->
    			<div   class="person-info-panel-left">
    				<!-- <div style="width: 350px; height: 30px; background-color: white;"></div> -->
    				<div class="actor-profile-image" [ngStyle]="{'background-image': 'url(' + baseUrl + getProfileImage() + ')'}">
    					<div class="decorative-shadow"></div>	
    				</div>
    				<div class="actor-detail-panel">
    					<!-- <p>Popularity: {{person.popularity | percentage : 4}} </p> -->
    					<div class="actor-detail-panel-left" *ngIf="details.credits">
    						<p align="center" class="number-movies">{{details.credits.cast.length}}</p>
    						<p align="center" class="tag-number-movies">Movies</p>
    					</div>
    					<div class="actor-detail-panel-right">
    						<p *ngIf="details.gender == 1"><b>Gender:</b> Female</p>
    						<p *ngIf="details.gender == 2"><b>Gender:</b> Male</p>
    						<p *ngIf="!details.gender"><b>Gender:</b> Not available</p>
    						<p *ngIf="details.birthday"><b>Birthday:</b> {{details.birthday | date : 'mediumDate'}}</p>
    						<p *ngIf="!details.birthday"><b>Birthday:</b> Not available</p>
    						<p *ngIf="details.place_of_birth"><b>Place of birth:</b> {{details.place_of_birth}}</p>
    						<p *ngIf="!details.place_of_birth"><b>Place of birth:</b> Not available</p>
    					</div>
    				</div>
    			</div>
    			<!-- =========================PANEL RIGTH============== -->
    			<div class="person-info-panel-right">
    				
    				<div class="actor-name-container">
    					<p class="actor-name">{{details.name | uppercase}}</p>
    				</div>
    				<div class="extra-detail-container" *ngIf="details.also_known_as">
    					<p *ngIf="details.also_known_as[0]" class="also-knowm-as-tag">Also known as: {{details.also_known_as[0]}}</p>
    				</div>
    				<br>
    				<div class="biography-container">
    			        <p *ngIf="details.biography" class="biography">{{details.biography}}</p>
    			        <p *ngIf="!details.biography" class="biography">No data available</p>
    				</div>
    				<br>
    				<br>
    				<div align="center">
    					<p><b>Photos</b></p>
    				</div>
    				<div class="cast-movies-container" *ngIf="details.images">
    					<div class="movie-cast" *ngFor="let photo of details.images.profiles| slice:0:12; let i=index"
    					[ngStyle]="{'background-image': 'url(' + baseUrl + details.images.profiles[i].file_path + ')'}" align="">
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
	<div id="cast-crew">
    	<div *ngIf="details.credits">
            <app-personcast [credits]="details.credits.cast"></app-personcast>
        </div>
        <div *ngIf="details.credits">
            <app-personcrew [credits]="details.credits.crew"></app-personcrew>
        </div>
    </div>
</div>

<app-footer></app-footer>