.icons{
    font-size:14px;
}

.image{
    width:25%;
    height:50%;
}

.unavailable{
    color:#FF0000;
}

a{
  text-decoration:none
}

.main-panel{
	background-image: url('assets/images/background.jpg'); 
	padding-top: 100px; 
	padding-bottom: 100px;
}